body {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(44, 34, 34);
    min-height: 50vh;
    line-height: 1.6;

}


* {

    margin: 0;
    padding: 0;
    display: border-box;

}

.navbar {

    display: flex;
    position: sticky;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    color: black;
    align-items: center;
}

.logo img {

    width: 80px;
    height: 80px;
    font-weight: bold;
    padding-left: 40px;
}

.logo a {

    width: 50px;
    height: 50px;
}

.menu {

    display: flex;
    gap: 20px;
    list-style-type: none;

}

.menu li {

    margin-right: 60px;

}

.menu li a {

    color: rgb(0, 0, 0);
    text-decoration: none;

}

.encabezado-img {

    background-image: url('/img/arboles.jpg');
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.encabezado-img h1 {

    font-size: 30px;
    justify-content: center;
    color: #ffffff
}

/*Formulario*/

.navbar-formulario {

    display: flex;
    position: sticky;
    width: 100%;

    justify-content: space-between;
    background-color: #8c947d;
    color: #e6e0d2;
    align-items: center;
}

.logo-formulario img {

    width: 50px;
    height: 60px;
    margin-top: 3px;
    font-weight: bold;
    padding-left: 40px;
}

.body-formulario {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e6e0d2;
    /* color: rgb(44, 34, 34);
    min-height: 50vh;
    line-height: 1.6; */

}

.registro-formulario {
    width: 400px;
    background-color: #dcc1a8;
    padding: 30px;
    margin: auto;
    margin-bottom: 100px;
    border-radius: 30px;
    margin-top: 100px;
    font-family: ;
    /*poner tipografía*/
    color: #8c947d;
    box-shadow: 7px 13px 37px #9c7f64;
}

.registro-formulario h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    font-family: ;
    /*poner tipografía*/

}

.control-formulario {
    width: 90%;
    background-color: #e6e0d2;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: ;
    /*poner tipografía*/
    font-size: 18px;
}

.registro-formulario p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.registro-formulario a {
    color: #72858A;
    text-decoration: none;
    font-size: 16px;
}

.registro-formulario a:hover {
    color: #72858A;
    text-decoration: underline;
}

.registro-formulario .boton-formulario {
    width: 90%;
    background-color: none;
    border: none;
    padding: 12px;
    color: #8c947d;
    margin: 16px 16px;
    border: 20px;
    border-radius: 4px;
    font-size: 16px;

}

.formulario-img {

    background-image: url('/img/formulario.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.formulario-img h2 {
    color: #8c947d;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2b2f24;
    text-align: center;
    margin-top: 20px;
    font-family: ;/*poner tipografía*/
}

/*Términos y condiciones*/

.contenedor-preguntasyrespuestas {
    display: flex;
    margin: 10px;


}

.contenedor-preguntas-img {
    display: flex;
    max-width: 50vh;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

}

.contenedor-preguntas-img img {

    width: 250px;
    height: 250px;
    object-fit: cover;


}

.contenedor-preguntas-img img:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.05);
    transform: rotate(-1.1deg) scale(1.05);
    filter: brightness(0.8);
    transition: 0.6s ease-out;
}

.preguntas {
    border-radius: 20px;

    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
}


.preguntas-1 {
    color: #72858A;
    font-size: 16px;
    font-family: ;
    /*poner tipografía*/

}

.preguntas-2 {
    color: black;
    font-size: 14px;
    font-family: ;
    /*poner tipografía*/

}

/* GRID */

.contenedor-grid {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.contenedor-grid h2 {
    font-family: ;
    /* poner tipografía*/
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    color: #ad7949;
}

.contenedor-grid h3 {
    font-family: ;
    /* poner tipografía*/
    font-size: 14px;
    font-style: italic;
    text-align: center;
    color: #72858A;
    margin-bottom: 20px;
}

.title-grid {
    margin-bottom: 20px;
    text-align: center;
    color: #72858A;
    font-family: ;
    /* poner tipografía*/
    font-size: 18px;

}

.photo-gallery {
    display: flex;
    gap: 20px;

}

.column-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo-grid img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.photo-grid img:hover {
    cursor: pointer;
    /* opacity: 0.7; */
    transform: scale(1.2);
    transform: rotate(1.2deg) scale(1.2);
    filter: brightness(0.8);
    transition: 0.6s ease-in;
}


@media(max-width:768px) {
    .photo-gallery {
        flex-direction: column;
    }
}

.frases-grid img {
    max-width: 50px;
    width: 50%;
    left: 50%;

}

/* RESEÑAS*/


.container-reviews{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.container-reviews-left{
    margin-top: 30px;
    text-align: left;
}

.container-reviews-left h1{
    margin-bottom: 10px;
    font: 14px;
    color: #72858A;
}

.container-reviews-left p{
    color: #ad7949;
    margin-bottom: 10px;
}

.container-reviews-left button{
  
    padding: 10px;
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #8c947d;
    color: beige;
    font-size: 14px;
    cursor: pointer;
    

}

.container-reviews-left button:hover{
    background-color: #9c7f64;
    color: #e6e0d2;

}

.container-reviews-right{
    display: grid;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
} 

.card{
    padding: 20px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background-color: #72858A;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #2d4146;
    
}

.card img{
    max-width: 150px;
    border-radius: 100%;
    
}

.card-content{
    display: flex;
    gap: 10px;
  
}

.card-content span i{
    font-size: 18px;
    color: #dcc1a8;
    
}

.card-details p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: ; /* poner tipografia*/
    text-align: right;
    font-size: 16px;

}

.card-details h4{
    text-align: right;
    font-size: 13px;
    
    font-family: ; /* poner tipografia*/
    margin-bottom: 10px;
    margin-top: 40px;
    color: #dcc1a8;
}

@media (width <1200px){
    .container-reviews{
        gap: 20px;
    
    }
}

@media (width <900px){
    .container-reviews{
        grid-template-columns: repeat(1, 1fr);
    
    }
    .container-reviews-right{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width <750px){
    .container-reviews-right{
        grid-template-columns: repeat(1, 1fr);
    
    }
}


/* Precio */

.pricing{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    text-align: center;
}

.price{
    color:  #145666;
    font-size: 40px;
}
.price2{
    color: #2d4146;
}
.price3{
    color: #72858A;;
}

.table-pricing{
    background-color: #eff3e6;
    padding: 30px;
    /* border-color: #2b2f24; */
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 20px #ad7949;
    margin-bottom: 50px;
}

.caracteristicas{
    font-size: 14px;
    font-family: ; /* poner tipografia*/
}

.button-pricing a{
    background-color: #ad7949;
    color: #e6e0d2;
    text-decoration: none;
    padding: 8px 22px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 10px;
}

.button-pricing a:hover{
    background-color: #72858A;
}

.price-img {

    background-image: url('/img/price.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.price-img h2 {
    color: #ad7949;
    text-align: center;
    margin-top: 20px;
    font-family: ; /*poner tipografía*/
}

@media (width <1200px){
    .pricing{
        gap: 20px;
    
    }
}

@media (width <900px){
    
    .pricing{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width <750px){
    .pricing{
        grid-template-columns: repeat(1, 1fr);
    
    }
}



